$left-purple-gradient: #672280;
$right-purple-gradient: #A626D3;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before,
  ::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
}

#header-component {
  background-image: linear-gradient(to right,
      $left-purple-gradient,
      $right-purple-gradient );

  #header-left {
    img {
      width: 1.956875rem;
      height: 1.63875rem;
    }

    h4 {
      font-size: calc(1.296875rem + .3vw);
      margin-bottom: 0;
    }
  }

  #header-right {
    p {
      font-size: calc(0.75rem + .3vw);
      margin-bottom: 0;
    }
  }

}